
li{
    position: relative;
    font-size: xx-large;
    color: white;
    padding-bottom:12px ;
}
li::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
   
    

}
li:hover{
    color: #95a5a6;
}
li:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}
body{
    background-color: black;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
  color: orangered;
  margin-left: 5px;
  
}
h1{
    text-align: center;
    color: rgb(55, 0, 255);
    text-decoration: underline;
}
H2{
    color:rgb(55, 0, 255) ;
    text-decoration: underline;
    font-size: xx-large;
    margin-left: 30%;
}
div{
    display : flex;
    gap: 200px;
}
